@model STS.WebUI.Models.KullaniciYetkileri

@{
    Layout = null;
}


<!-- Optionally, you can add icons to the links -->
@*<li class="active"><a href="/Kullanici/Liste"><i class="fa fa-users"></i> <span>Kullanıcılar</span></a></li>
    <li><a href="/Kullanici/Ekle"><i class="fa fa-user"></i> <span>Kullanıcı Ekle</span></a></li>*@
<li class="header">YÖNETİM</li>
@if (Model.KullaniciListeleme || Model.KullaniciEkleme)
{
    <li class="treeview">
        <a href="#"><i class="fa fa-users"></i> <span>Kullanıcılar</span><i class="fa fa-angle-left pull-right"></i></a>
        <ul class="treeview-menu">
            @if (Model.KullaniciListeleme)
            {
                <li><a href="/Kullanici/Liste"><i class="fa fa-users"></i> <span>Kullanıcı Listesi</span></a></li>
            }
            @if (Model.KullaniciEkleme)
            {
                <li><a href="/Kullanici/Ekle"><i class="fa fa-user-plus"></i> <span>Ekle</span></a></li>
            }
        </ul>
    </li>
}
@if (Model.PersonelListeleme || Model.PersonelEkleme)
{
    <li class="treeview">
        <a href="#"><i class="fa fa-users"></i> <span>Personeller</span><i class="fa fa-angle-left pull-right"></i></a>
        <ul class="treeview-menu">
            @if (Model.PersonelListeleme)
            {
                <li><a href="/Personel/Liste"><i class="fa fa-users"></i> <span>Personel Listesi</span></a></li>
            }
            @if (Model.PersonelEkleme)
            {
                <li><a href="/Personel/Ekle"><i class="fa fa-user-plus"></i> <span>Ekle</span></a></li>
            }
        </ul>
    </li>
}
@if (Model.SilahListeleme || Model.SilahEkleme)
{
    <li class="treeview">
        <a href="#"><i class="fa fa-rocket"></i> <span>sssss</span><i class="fa fa-angle-left pull-right"></i></a>
        <ul class="treeview-menu">
            @if (Model.SilahListeleme)
            {
                <li><a href="/Silah/Liste"><i class="fa fa-space-shuttle"></i> <span>sssss Listesi</span></a></li>
            }
            @if (Model.SilahEkleme)
            {
                <li><a href="/Silah/Ekle"><i class="fa fa-plus"></i> <span>Ekle</span></a></li>
            }
        </ul>
    </li>
}
@if (Model.Sorgulama)
{
    <li><a href="/Sorgulama/Liste"><i class="fa fa-search"></i> <span>Sorgulama</span></a></li>
}
@if (Model.GrupIzinAyarlama)
{
    <li class="treeview">
        <a href="#"><i class="fa fa-user-secret"></i> <span>Kullanıcı Grupları</span><i class="fa fa-angle-left pull-right"></i></a>
        <ul class="treeview-menu">
            <li><a href="/Grup/Liste"><i class="fa fa-users"></i> <span>Grup Listesi</span></a></li>
            <li><a href="/Grup/Ekle"><i class="fa fa-plus"></i> <span>Ekle</span></a></li>
        </ul>
    </li>
}


