@model STS.WebUI.Models.KullaniciListViewModel

@{
    ViewBag.Title = "Kullanıcılar";
    ViewBag.Description = "Sistemde tanımlı kullanıcıları listeler.";
    Layout = "~/Views/Shared/_MasterLayout.cshtml";
}

@foreach (var p in Model.Kullanicilar)
{
    @Html.Partial("KullaniciSummary", p)
}

<div class="btn-group pull-right">@Html.PageLinks(Model.PagingInfo, x => Url.Action("Liste", new { page = x }))</div>


